.accordion-button:not(.collapsed){
    --bs-accordion-active-bg: transparent !important;
}

.faq-menu{
    background-image: url("../../Assets/images/faq-bg.png") !important;
    font-family: "Comfortaa";
}

.accordion-body{
    color: red !important;
}
.collapse {
    visibility: collapse;
    color: red !important;

}